<h1>Import du disque <%= id %>, "<%= info["title"] %>" par <%= info["artist"] %></h1>

<p>
  Les morceaux suivants seront importés dans Rivendell.
  Si ça vous paraît correct, cliquez sur "Importer",
  sinon <a href="TODO">éditez sa fiche dans Disco</a>
  puis rafraîchissez cette page.
</p>

<table>
  <tr>
    <th>#</th><th>Artiste</th><th>Titre</th><th>Fichier</th>
  </tr>
  <% info["tracks"].each do |num, track| %><% if track["rivendell"] %>
    <tr>
      <td><%= num %></td>
      <td><%= track["artist"] %></td>
      <td><%= track["title"] %></td>
      <td><%= files[num] %></td>
    </tr>
  <% end %><% end %>
</table>

<p id="importbuttons">
  <a href="/disco_staging">Annuler</a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/disco_import/<%= id %>" onclick="document.getElementById('importbuttons').style.display='none'">Importer</a>
</p>
